<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
        <ion-title padding>لیست تیکت ها</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
               <ion-icon name="share-alt"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ng-container *ngFor="let item of Tickets">
        <ion-card *ngIf="item.isOpen" style="background-color: green; color: white;">
            <ion-card-header style="text-align: center; color: white;">
                {{item.Title}}
            </ion-card-header>
            <ion-card-content>
                تاریخ ایجاد تیکت: {{item.createdAt}}
                <p style="text-align: center;">
                <button ion-button (click)="Ticket(item.objectId, item.Title)">مشاهده تیکت</button>
                <button ion-button color="danger" (click)="closeTicket(item.objectId)">بستن تیکت</button>
                </p>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="!item.isOpen" style="background-color: grey;">
            <ion-card-header style="text-align: center;">
                {{item.Title}}
            </ion-card-header>
            <ion-card-content>
                تاریخ ایجاد تیکت: {{item.createdAt}}
                <p style="text-align: center;">
                        <button ion-button (click)="Ticket(item.objectId, item.Title)">مشاهده تیکت</button>
                        <button ion-button color="danger" (click)="openTicket(item.objectId)">بازگشایی تیکت</button>
                        </p>
            </ion-card-content>
        </ion-card>
    </ng-container>

    <ion-fab right bottom>
        <button ion-fab style="background-color: green" (click)="newTicket()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>