<ion-header>

    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>فصل مهربانی</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                       <ion-icon name="share-alt"></ion-icon>
                    </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="sec">
            <ion-segment-button value="all">
                همه کمپین ها
            </ion-segment-button>
            <ion-segment-button value="mine">
                کمپین های من
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>


<ion-content>

    <div [ngSwitch]="sec">
        <ion-list *ngSwitchCase="'all'">
            <ion-item *ngFor="let item of Campaigns">
                <ion-card>
                    <ion-card-header style="text-align:center;">
                        <p style="font-size: larger;margin-bottom: 10px;color: black;font-weight: bold;">{{item.Name}}</p>
                        <img [src]=item.Image.url>
                    </ion-card-header>
                    <ion-card-content style="text-align:justify;">
                        تاریخ شروع کمپین: {{item.Start_Date.iso}} <br> تاریخ پایان کمپین: {{item.End_Date.iso}} <br> {{item.Desc}}
                        <progress-bar [progress]=item.updatedAt [color-degraded]="{'0': '#00cbcb',  '45': '#f9c3d3', '65': '#fd8c8e'}"></progress-bar>
                    </ion-card-content>
                    <button *ngIf="login == '1'" ion-button full (click)="crowdfundingdetail(item.objectId)">جزئیات کمپین</button>
                    <button *ngIf="login == '0'" ion-button full>اینترنت متصل نیست</button>
                </ion-card>
            </ion-item>
        </ion-list>

        <ng-container *ngSwitchCase="'mine'">
            <ng-container *ngFor="let item of Campaigns">
                <ion-list *ngFor="let my of MyCampaigns">
                    <ion-item *ngIf="item.objectId == my.Campaign.objectId">
                        <ion-card *ngIf="login == '1'">
                            <ion-card-header style="text-align:center;">
                                <p style="font-size: larger;margin-bottom: 10px;color: black;font-weight: bold;">{{item.Name}}</p> <img [src]=item.Image.url>
                            </ion-card-header>
                            <ion-card-content>
                                تاریخ شروع کمپین: {{item.Start_Date.iso}} <br> تاریخ پایان کمپین: {{item.End_Date.iso}} <br> {{item.Desc}}
                                <p>میزان مشارکت شما: {{my.Help_Number}}</p>
                                <progress-bar [progress]=item.updatedAt [color-degraded]="{'0': '#00cbcb',  '45': '#f9c3d3', '65': '#fd8c8e'}"></progress-bar>
                            </ion-card-content>
                            <button ion-button full (click)="crowdfundingdetail(item.objectId)">جزئیات کمپین</button>
                        </ion-card>
                        <ion-card *ngIf="login == '0'">
                            <ion-card-header style="text-align:center;">
                                <p style="font-size: larger;margin-bottom: 10px;color: black;font-weight: bold;">باید وارد حساب کاربری شوید</p>
                            </ion-card-header>
                        </ion-card>    
                    </ion-item>
                </ion-list>
            </ng-container>
        </ng-container>
    </div>
</ion-content>