<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title padding>پروفایل</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                       <ion-icon name="share-alt"></ion-icon>
                    </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="sec">
            <ion-segment-button value="profile">
                مشخصات
            </ion-segment-button>
            <ion-segment-button value="membership">
                حق عضویت
            </ion-segment-button>
            <ion-segment-button value="transaction">
                تراکنش ها
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div [ngSwitch]="sec">
        <ion-list *ngSwitchCase="'profile'">
            <button ion-button full (click)="SaveButton()">{{ButText}}</button>
            <ion-item>
                <ion-label stacked>نام</ion-label>
                <ion-input type="text" [disabled]=EditMode [(ngModel)]="profile.first_name" [value]=profile.first_name></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>نام خانوادگی</ion-label>
                <ion-input type="text" [disabled]=EditMode [(ngModel)]="profile.last_name" [value]=profile.last_name></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>محل تولد</ion-label>
                <ion-input type="text" [disabled]=EditMode [(ngModel)]="profile.birth_place" [value]=profile.birth_place></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>نام پدر</ion-label>
                <ion-input type="text" [disabled]=EditMode [(ngModel)]="profile.father_name" [value]=profile.father_name></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>آدرس</ion-label>
                <ion-input type="text" [disabled]=EditMode [(ngModel)]="profile.Address" [value]=profile.Address></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>شماره همراه</ion-label>
                <ion-input type="number" [disabled]=EditMode [(ngModel)]="profile.username" [value]=profile.username></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>کد ملی</ion-label>
                <ion-input type="number" [disabled]=EditMode [(ngModel)]="profile.National_Code" [value]=profile.National_Code></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>ایمیل</ion-label>
                <ion-input type="text" [disabled]=EditMode [(ngModel)]="profile.email" [value]=profile.email></ion-input>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'membership'">
            <button ion-button full (click)="Change()">{{ChangeText}}</button>
            <ion-item>
                <ion-label stacked>حق عضویت ماهیانه (تومان)</ion-label>
                <ion-input type="text" [disabled]=ChangeMode [(ngModel)]="profile.Membership_Fee" [value]=profile.Membership_Fee></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked> مستمری یتیم تحت پوشش (تومان)</ion-label>
                <ion-input type="text" disabled [value]=profile.children></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>مبلغ قابل پرداخت (تومان)</ion-label>
                <ion-input type="text" disabled [value]=ShouldPay></ion-input>
            </ion-item>
            <button ion-button full (click)="Pay()">پرداخت آنلاین</button>
        </ion-list>

        <ion-list *ngSwitchCase="'transaction'">
            <ion-card>
                <ion-list>
                    <ion-item>
                        مجموع حق عضویت پرداخت شده: {{SOM}}
                    </ion-item>
                    <ion-item>
                        مجموع صدقات پرداخت شده: {{SOD}}
                    </ion-item>
                </ion-list>
            </ion-card>
            <ion-item *ngFor="let item of Transactions">
                <ion-card style="background-image: url(../../assets/imgs/IslamicBack.png);background-repeat: round;">
                    <ion-card-header style="text-align: center;">
                        {{item.Reason}}
                    </ion-card-header>
                    <hr>
                    <ion-card-content>
                        تاریخ: {{item.createdAt}}
                        <br> مبلغ: {{item.Value}}
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>


    </div>
</ion-content>