<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title padding>صفحه اصلی</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotoprofile()" style="padding-left: 10px; text-align: center;">
                        <ion-icon name="person"></ion-icon>
                     </button>
            <button ion-button icon-only (click)="gotoNews()" style="padding-left: 10px; text-align: center;">
                   <ion-icon name="paper"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding-horizontal>
    <ul class="flex-container">
        <li class="flex-item" (click)="gotoPray()" style=" background-image: url(../../assets/imgs/praytime.png);"></li>
        <li class="flex-item sh-text" style="background-image: url(../../assets/imgs/IslamicBack.png);">
            حق عضویت ماهیانه: <br> {{Should_Pay}}
        </li>
        <li class="flex-item" (click)="gotopay(1)" style="background-image: url(../../assets/imgs/fitr.png);"></li>
        <li class="flex-item" (click)="gotopay(0)" style="background-image: url(../../assets/imgs/donate.png);"></li>
        <li class="flex-item" (click)="gotopay(2)" style="background-image: url(../../assets/imgs/zakat.png);"></li>
        <li class="flex-item" (click)="gotopay(3)" style="background-image: url(../../assets/imgs/khoms.png);"></li>
        <li class="flex-slider">
            <ion-card>
                <ion-slides *ngIf="Campaigns && Campaigns.length" dir="rtl" autoplay="5000" loop="true" speed="3000" pager>
                    <ion-slide *ngFor="let item of Campaigns" (click)="gotoCampaign(item.objectId)">
                        <ion-card-header>
                            <img [src]=item.Image.url style="padding-bottom: 10px;"> {{item.Name}}
                        </ion-card-header>
                        <ion-card-content>
                            <progress-bar [progress]=item.updatedAt [color-degraded]="{ '0': '#00cbcb', '45': '#f9c3d3', '65': '#fd8c8e'}"></progress-bar>
                        </ion-card-content>
                    </ion-slide>
                </ion-slides>
            </ion-card>
        </li>
    </ul>
</ion-content>