page-home {
    ion-title {
        text-align: center;
        padding-left: 50px;
    }
     ::-webkit-scrollbar,
    *::-webkit-scrollbar {
        display: none;
    }
    .flex-container {
        padding: 0;
        margin: 0;
        margin-top: 10px;
        list-style: none;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: center;
    }
    .flex-item {
        background-repeat: round;
        padding: 5px;
        width: 164px;
        height: 90px;
        line-height: 35px;
        color: green;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
    }
    .flex-slider {
        padding: 5px;
        width: 350px;
        height: 300px;
        //line-height: 150px;
        color: green;
        font-weight: bold;
        font-size: 1em;
        text-align: center;
    }
    .sh-text {
        font-size: medium;
    }
}