// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: rtl;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@font-face {
  font-family: 'Vazir';
  src: url('../assets/font/Vazir.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/Vazir.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/Vazir.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/font/Vazir.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Vazir';
  font-size: large;
  src: url('../assets/font/Vazir-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Vazir-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/Vazir-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/Vazir-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/font/Vazir-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Vazir';
  font-size: small;
  src: url('../assets/font/Vazir-Light.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Vazir-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/Vazir-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/Vazir-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/font/Vazir-Light.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Vazir';
  font-size: larger;
  src: url('../assets/font/Vazir-Black.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Vazir-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/Vazir-Black.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/Vazir-Black.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/font/Vazir-Black.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Vazir';
  font-size: medium;
  src: url('../assets/font/Vazir-Medium.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Vazir-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/Vazir-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/Vazir-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/font/Vazir-Medium.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Vazir';
  font-size: smaller;
  src: url('../assets/font/Vazir-Thin.eot'); /* IE9 Compat Modes */
  src: url('../assets/font/Vazir-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/font/Vazir-Thin.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/font/Vazir-Thin.woff') format('woff'), /* Pretty Modern Browsers */
         url('../assets/font/Vazir-Thin.ttf')  format('truetype') /* Safari, Android, iOS */
}