<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-header>
        <ion-navbar hideBackButton>
            <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
            <ion-title>ورود به حساب</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                       <ion-icon name="share-alt"></ion-icon>
                    </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <div padding>
        <ion-row>
            <ion-col>
                <img class="logo" src="../../assets/imgs/Logo.jpg" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list inset class="no-border">
                    <ion-item>
                        <ion-label>شماره همراه</ion-label>
                        <ion-input [(ngModel)]="username" type="number"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>کد ملی</ion-label>
                        <ion-input [(ngModel)]="password" type="password"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button class="login-button" (click)="login()">ورود</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div (click)="goToSignup()">
                    <span>اگر عضو انجمن نیستید، از اینجا ثبت نام کنید</span>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>