<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>اوقات شرعی</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                   <ion-icon name="share-alt"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #462300;">
    <ion-grid>
        <ion-row style="text-align: center;" *ngIf="Net">
            <ion-col col-12>
                <img src=" http://www.owghat.com/owghat.png.aspx?CityID=78 ">
            </ion-col>
        </ion-row>
        <ion-row style="text-align: center;" *ngIf="!Net">
            <ion-col col-12 style="color: white;">
                <h3>اینترنت متصل نیست</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>