<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>فاکتور پرداخت</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                   <ion-icon name="share-alt"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row style="text-align: center;">
            <ion-col>
                <img class="logo" src="../../assets/imgs/Logo.jpg" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card style="background-image: url(../../assets/imgs/IslamicBack.png);background-repeat: round;">
                    <ion-card-header style="text-align: center">
                        {{ReasonText}}
                    </ion-card-header>
                    <hr>
                    <ion-card-content>
                        <ion-list inset class="no-border">
                            <ion-item style="background: transparent;">
                                <ion-label floating style="font-size: 1.5rem;color: black;">مبلغ پرداختی (ریال)</ion-label>
                                <ion-input [(ngModel)]="price" type="number" style="background: gray;"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                    <ion-row class="cardfooter">
                        <ion-col style="text-align: center;">
                            <button ion-button (click)="pay(price)">پرداخت</button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>