<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title padding>اخبار</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                 <ion-icon name="share-alt"></ion-icon>
              </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-card *ngFor="let item of News">
        <ion-card-header style="text-align: center;">
            {{item.Title}}
        </ion-card-header>
        <ion-card-content>
            <img [src]=item.Image.url>
            <button ion-button full (click)="news(item.objectId)">مشروح خبر</button>
        </ion-card-content>
    </ion-card>

</ion-content>