<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title padding>{{title}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gototickets()" style="padding-left: 10px; text-align: center;">
                   <ion-icon name="share-alt"></ion-icon>
                </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="message-wrap">

        <div *ngFor="let msg of msgList" class="message" [class.left]=" msg.isAdmin == true " [class.right]=" msg.isAdmin == false ">
            <div class="msg-detail">
                <div class="msg-info">
                    <p>
                        {{msg.createdAt}}</p>
                </div>
                <div class="msg-content">
                    <span class="triangle"></span>
                    <p class="line-breaker ">{{msg.Text}}</p>
                </div>
            </div>
        </div>

    </div>
</ion-content>

<ion-footer no-border [style.height]="'55px'">
    <div class="input-wrap">
        <textarea #chat_input placeholder="متن پیام خود را وارد کنید" [(ngModel)]="editorMsg" (focusin)="onFocus()">
    </textarea>
        <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon class="sendicon" name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
    </div>