<ion-header>

    <ion-navbar hideBackButton>
        <ion-title padding>جزئیات کمپین</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotocrowdfunding()" style="padding-left: 10px; text-align: center;">
               <ion-icon name="share-alt"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ng-container *ngFor="let item of Campaigns">
        <ion-card *ngIf="item.objectId == id">
            <ion-card-header style="text-align:center;">
                <p style="font-size: larger;margin-bottom: 10px;color: black;font-weight: bold;">{{item.Name}}</p>
                <img [src]=item.Image.url>
            </ion-card-header>
            <ion-card-content style="text-align:justify;">
                <p *ngIf="item.isMoney">مبلغ مورد نیاز: {{item.Target_Unit}} تومان</p>
                <p *ngIf="!item.isMoney">مقدار مورد نیاز: {{item.Target_Unit}} عدد</p>
                <br>
                <p *ngIf="item.isMoney">مبلغ جمع آوری شده: {{item.Progress}} تومان</p>
                <p *ngIf="!item.isMoney">مقدار جمع آوری شده: {{item.Progress}} عدد</p>
                <progress-bar [progress]=item.updatedAt [color-degraded]="{'0': '#00cbcb',  '45': '#f9c3d3', '65': '#fd8c8e'}"></progress-bar>
                {{item.Desc}}
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-content>

<ion-footer style="background-color: green;text-align: center; color: white;font-size: xx-large;font-weight: bold; height: 10%;" (click)="Donate()">
    <p style="margin-top: 5px;">مشارکت در کمپین</p>
</ion-footer>