<ion-header>
    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title padding>مشروح خبر</ion-title>
        <ion-buttons end>
          <button ion-button icon-only (click)="gotoNews()" style="padding-left: 10px; text-align: center;">
                 <ion-icon name="share-alt"></ion-icon>
              </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ng-container *ngFor="let item of News">
      <ion-card *ngIf="item.objectId == id">
          <ion-card-header style="text-align:center;">
            {{item.Title}}
          </ion-card-header>
          <ion-card-content style="text-align:justify;">
            <img [src]=item.Image.url>
            <hr>
            {{item.text}}
          </ion-card-content>
        </ion-card>
  </ng-container>
</ion-content>
