<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    <ion-header>
        <ion-navbar hideBackButton>
            <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
            <ion-title>عضویت در انجمن</ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                       <ion-icon name="share-alt"></ion-icon>
                    </button>
            </ion-buttons>
        </ion-navbar>
    </ion-header>
    <div padding>
        <ion-row>
            <ion-col>
                <img class="logo" src="../../assets/imgs/Logo.jpg" />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list inset class="no-border">
                    <ion-item>
                        <ion-label>نام</ion-label>
                        <ion-input [(ngModel)]="first_name" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>نام خانوادگی</ion-label>
                        <ion-input [(ngModel)]="last_name" type="text"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>شماره همراه</ion-label>
                        <ion-input [(ngModel)]="username" type="number"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>کد ملی</ion-label>
                        <ion-input [(ngModel)]="password" type="number"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>حق عضویت ماهیانه(تومان)</ion-label>
                        <ion-input [(ngModel)]="Membership_Fee" type="number" pattern="[0-9]*" decimal="true"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button class="login-button" (click)="signup()">ثبت نام</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div (click)="gotoLogin()">
                    <span>اگر عضو انجمن هستید، از اینجا وارد شوید</span>
                </div>
            </ion-col>
        </ion-row>
    </div>
</ion-content>