<!--
  Generated template for the ForgetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton>
        <ion-title>forgetpassword</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>