<ion-header>

    <ion-navbar hideBackButton>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>صدقه و خیرات</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="gotohome()" style="padding-left: 10px; text-align: center;">
                 <ion-icon name="share-alt"></ion-icon>
              </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card (click)="pay(0)">
        <ion-card-content>
            <img src="../../assets/imgs/donate.png">
        </ion-card-content>
    </ion-card>
    <ion-card (click)="pay(1)">
        <ion-card-content>
            <img src="../../assets/imgs/fitr.png">
        </ion-card-content>
    </ion-card>
    <ion-card (click)="pay(2)">
        <ion-card-content>
            <img src="../../assets/imgs/zakat.png">
        </ion-card-content>
    </ion-card>
    <ion-card (click)="pay(3)">
        <ion-card-content>
            <img src="../../assets/imgs/khoms.png">
        </ion-card-content>
    </ion-card>
</ion-content>